<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-permissions" version="1.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSPhotoLibraryUsageDescription and NSMicrophoneUsageDescription in iOS 10 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsphotolibraryusagedescription, nsmicrophoneusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>A APP ZU gostaria de aceder ao seu calendário. O acesso ao seu calendário possibilita a associação e a visualização de eventos da APP ZU.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>A APP ZU gostaria de aceder à sua câmara sempre que pretenda publicar uma fotografia no perfil do seu animal.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>A APP ZU gostaria de aceder à sua galeria de fotos sempre que pretenda publicar uma fotografia no perfil do seu animal.</string>
      </config-file>        
      <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
          <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
      </config-file>        
      <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
          <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
      </config-file>        
      <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
      </config-file>        
    </platform>
</plugin>
